@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
   /* colors */

  --clr-white: #fff;
  --clr-light-grey: #f5f5f5;
  --clr-dark-grey: #dcdcdc;
  --clr--grey-300: #D1D5DB;

  --clr-background-darker: #161619;
  --clr-background-dark: #1a1b21;
  --clr-background-body: #23252C;

  --clr-social-icons: #918e9b;
  --clr-accent: #f3bf99;
  --clr-linkedin: #5093e2;

  /* Font */
  --font-main: "Inter", sans-serif;

  /* Box shadow */
  --box-shadow-button: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: var(--font-main);
  font-size: 16px;
  text-decoration: none;
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--clr-background-body);
}

/* Card */

.card--container {
  margin: 3.4rem auto;
  width: 20rem;
  max-height: auto; 
}
.card--content {
  background: var(--clr-background-dark);
}

/* Profile image container */

.image-container {
  width: 100%;
  height: 18.75rem;
  border-radius: 10px 10px 0 0;
  background-image: url("../src/images/profile-picture.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header */

.info--icon {
  border: none;
  margin-right: 10px;
}
.button {
  min-width: 7.2rem;
  gap: 8px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5em 0.75em;
  box-shadow: var(--box-shadow-button);
  border-radius: 6px;
  cursor: pointer;
}
.button--linkedin {
  color: var(--clr-light-grey);
  background-color: var(--clr-linkedin);
}
.button--email {
  border: 1px solid var(--clr--grey-300);
  background: var(--clr-white);
  color: #374151;
}
.website {
  display: block;
  margin: 0.8rem 1rem auto;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 150%;
  color: var(--clr-light-grey);
}
.website:hover,
.button:hover
 {
  filter: brightness(80%);
}
.info--contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2em;
  margin-top: 1rem;
}
.contact-btn {
  width: 7.2rem;
  height: 2rem;
  border-radius: 6px;
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;
}

/* Card Content */

.profile-name {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-top: 1.25rem;
  color: var(--clr-white);
}
.profile-role {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 0.9rem;
  color: var(--clr-accent);
}

/* Main Content */

.main--content {
  margin: 2.2rem;
}
.main--content h3 {
  margin: 5px auto;
  font-weight: 700;
  line-height: 1.5rem;
  color: var(--clr-light-grey);
  text-align: left;
}
.main--content .about {
  margin-top: 0;
}
.main--content p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: var(--clr-dark-grey);
  text-align: left;
}

/* Footer */

.footer--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background: var(--clr-background-darker); 
  border-radius: 0 0 10px 10px;
  padding: 0 4rem; /* Add padding to the edges */
}
.social-icon {
  color: var(--clr-social-icons);
  height: 1.8rem;
  margin: 0 5px; /* Add a small margin between the icons */
}
.social-icon:hover {
  filter: brightness(150%);
}
